body {
    background-color: whitewhite !important;
    font: inherit !important;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    color: #455a64;
    font-family: "Arial",sans-serif !important;
    font-weight: 400;
}

.logo {
    display: block !important;
}

#top-footer {
    background-color: #fff;
    background-image: none !important;
}

#top-footer .social ul li a.facebook,
#top-footer .social ul li a.youtube {
    padding: 0px 6px;
}

#top-footer .social ul li a .slicon-social-facebook,
#top-footer .social ul li a .slicon-social-youtube {
    font-size: 28px !important;
    position: relative;
    top: 1.75px;
}

#top-footer .social ul li a .slicon-social-viber {
    width: 47px;
}

#page-wrapper #page {
    background-color: #fff;
    background-image: none !important;
}

#page-login-index.moove-login .loginpanel .card-block .instructions {
    padding-bottom: 10px;
}

.custom-slide-image {
    width: 100% !important;
    height: auto !important;
}

#page-login-index.moove-login .loginpanel .instructions {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#page-header .logo {
    display: none;
}

#coursesearch2 {
    display: none;
}

.custom_footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0f6fc5;
    color: white;
    text-align: center;
}

.social ul li a img {
    display: inline-block;
}

.social ul li:nth-of-type(1) a img {
    display: inline-block;
    width: 75px;
    height: 100px;
}

.social ul li:nth-of-type(2) a img {
    width: 50px;
    height: 50px;
}

.social ul li:nth-of-type(3) a img {
    width: 50px;
    height: 50px;
}

@media (max-width: 767px) {
    .coursesearchbox .hidden-search {
        display: none;
    }

    .coursesearchbox .search-icon {
        background-color: transparent;
        border: none;
    }
}

#top-footer .contact ul li {
    font-size: unset;
}

#page-site-index.slideshow #mooveslideshow .carousel-indicators {
    display: none;
}

body.notloggedin #loginbox .sign-up-btn .btn {
    font-size: 1.1rem !important;
}

@media only screen and (max-width: 500px) {
    .custom-image {
        width: auto;
    }

    /*
     .slicon-social-facebook {
          font-size: 35px !important;
      }

   .slicon-social-youtube {
          font-size: 35px !important;
      }

    .slicon-social-viber {
          width: 55px !important;
      }
    */
}

#loginbox #username {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    border-radius: 8px;
    padding: 30px;
}

#loginbox #password {
    margin-bottom: 30px !important;
    border-radius: 8px;
    padding: 30px;
}

#loginbox {
    margin-top: 55px !important;
    margin-right: 50px !important;
}


@media only screen and (max-width: 800px) {
    #page-site-index #mooveslideshow .carousel-caption {
        top: auto !important;
    }

    .custom-slide-image {
        width: 100% !important;
        /* height: 310px !important; */
    }

    #loginbox #username {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }

    #loginbox #password {
        margin-bottom: 10px !important;
    }

    #loginbox {
        margin-top: 0px !important;
        margin-right: 0px !important;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991.9px) {
    .custom-slide-image {
        height: 62.500vw;
    }
}

/* Smart Phone */
@media (max-width: 767.9px) {
    .custom-slide-image {
        height: 104.167vw;
    }

    #page-site-index.notloggedin .frontpage-maincontent {
        padding: 0 !important;
    }

    #top-footer .contact ul,
    #top-footer .social ul {
        padding-left: 0;
    }

    /*
    #top-footer .social ul li a {
        width: 8.594vw;
        height: 8.594vw;
        padding: 1.302vw;
    }

    #top-footer .social ul li a i {
        font-size: 6.120vw !important;
    }
    */
}
