.sec-car-details .content-bx table tbody tr td span {
	font-weight: 600;
	color: var(--color-dark);
}

.sec-car-details .car-img-slider .carousel-indicators {
    /* bottom: -42px; */
    bottom: -68px;
}


.sec-car-details .car-img-slider button {
    overflow: hidden;
    /* position: relative !important; */
    /* top: 60px !important; */
    margin-left: 3px;
    margin-right: 3px;
    border: 1px solid var(--color-purple);
    height: auto;
}

.sec-car-details .carousel-indicators img {
    opacity: 0.5;
}

.sec-car-details .carousel-indicators .active img {
    opacity: 1;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.9px) {
    .sec-car-details .car-img-slider .carousel-indicators {
        bottom: -5.313vw;
    }
}

/*  Smart Phone  */
@media screen and (max-width:767.9px) {
    .sec-car-details .car-img-slider .carousel-indicators {
        bottom: -8.854vw;
    }
}

@media screen and (max-width: 600px) {
    .sec-car-details .car-img-slider .carousel-indicators {
        bottom: -11.333vw;
    }
}
