.sec-contact-us {
    background-color: var(--theme-gray);
}

.sec-contact-us .left-content-bx i {
    float: left;
    width: 44px;
    height: 44px;
    line-height: 44px;
    background-color: var(--color-purple);
    color: var(--color-light);
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
}
